body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  /*display: table;*/
}

.status {
  margin-bottom: 10px;
  font-weight: bold;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {

}

.game-board {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.game-info {
  justify-content: center;
}

.draw {
  font-weight: bold;
  color: yellow;
}

.winner {
  font-weight: bold;
  color: green;
}
